.nav_logo{
    width: 84rem;
    cursor: pointer;
}
.nav_row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-family: 'BTCFont', sans-serif;
  padding: 20rem 160rem;
}
.nav_list{
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.nav_list a{
    font-size: 14rem;
}

.connect_btn{
    background-image:linear-gradient(to right,#fff59a,#fbf7d1);
    white-space:nowrap;
    border-radius:8rem;
    color:#161616;
    border: none;
    font-family: scr;
    padding: 19rem 23rem;
}


@media (min-width: 750px) and (max-width: 1940px) {

}
@media (min-width: 750px) and (max-width: 1280px) {
    .connect_btn{
        padding: 16rem;
        font-size: 23rem;
    }
}

@media (min-width: 750px){
    .connect_btn{
        padding: 16rem;
    }
}
@media (max-width: 750px){
    .connect_btn{
        font-size: 14rem;
    }
    .nav_logo{
        margin-left: 38rem;
        width: 94rem;
    }
    .nav_row{
        padding: 20rem 42rem;
    }
}
@media (min-width: 1280px){
    .connect_btn{
        font-size: 23rem;
    }
}